.topSection {
  position: relative;
}
.aboutTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px !important;
  color: white;
}
.aboutHeadDiv {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.aboutPara {
  color: #606060;
}
.aboutLogo {
  width: 100%;
}
.quotes {
  color: green !important;
}
.aboutHighlight {
  background-color: #fff9f5;
}
.greenText {
  color: green;
}
.aboutMainHead {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
/* 
.aboutWrapper {
}
.topSection {
  max-height: 300px;
  width: 100%;
}
.aboutIntroHead {
  color: orange;
  font-size: 25px;
  font-weight: 600;
}
.footerAbout {
  margin-top: 30rem;
} */
