.curriculamBar {
  display: flex;
  overflow-x: scroll !important;
  padding-left: 0;
  border: none !important;
}
.curriculamElement {
  white-space: nowrap !important;
  margin-left: 0.7em;
}
.curriculamBar::-webkit-scrollbar {
  display: none;
}
.curriculamItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.curriculumTitle {
  color: #f16724;
  font-weight: 900;
  font-size: 28px;
}
.curriculamHeading {
  font-weight: 900;
  font-size: 28px;
}
.curriculumAccordianWrapper {
  max-height: 40vh !important;
  overflow-y: scroll;
  overflow-x: scroll;
}
.curriculamData {
  font-size: larger;
  font-weight: 550;
}
.curriculamListItem {
  margin-bottom: 1em;
  letter-spacing: 1px;
  max-width: 20vw;
}
@media screen and (max-width: 1000px) {
  .curriculamListItem {
    max-width: 50vh;
  }
}
.curriculamWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.curriculumMobileListItem {
  white-space: nowrap !important;
  /* overflow-wrap: break-word !important; */
}
@media screen and (max-width: 600px) {
  .curriculamItems {
    display: none;
  }
}
