.requisiteHead {
  background-color: #f16724;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.requisiteList {
  margin-left: 2em !important;
  text-align: start !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 0 !important;
}
::-webkit-scrollbar {
  width: 0px;
}
.requisiteListItem {
  padding: 1px;
  margin: 5px;
  background-color: #f1682438;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  list-style: none !important;
}

.requisiteListItem:hover {
  background-color: #f1682484;
  color: white;
}
.courseDuration {
  line-height: normal !important;
}
@media screen and (max-width: 1000px) {
  .requisiteIcons {
    display: none;
  }
}
