@import url('https://fonts.cdnfonts.com/css/branding-3');
.logoTable {
  border-collapse: separate;
  border-spacing: 15px !important;
  margin: 0 auto;
  justify-content: center;
}
.compananiesLogo {
  background-color: white !important;
  margin: 0.3em;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 150px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  margin: 0 auto;
}
.durationDiv {
  align-items: center;
}

@media screen and (max-width: 768px) {
}
