@import url('https://fonts.cdnfonts.com/css/branding-3');
.curriculamContainer{
    margin-top: 70px!important;
}
/* .curriculamElement{
    background-color: #EFEFEE!important;
}
.curriculamElement.active{
    background-color: red;
} */